* { margin: 0; padding: 0; }

body {
    font-size: 14px;
    font-family: "Courier New", monospace;
}

.invisible {
    display: block;
}
.print_label_button {
    text-align: center;
}

@media print
{
  @page 
  {
    size: auto;   /* auto is the current printer page size */
    
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  .cnum {
    margin: 0;
    padding: 0;
    width: 22mm;
    height: 67mm;
    border: none;
  }
  
  .label_container {
    float: left;
    margin-left: 1mm;
  }
  
  .pocket {
    margin-left: 3mm;
    padding: 0;
    width: 70mm;
    height: 67mm;
    border: none;
  }
  
  .cnum div {
    padding: 1mm 0 0 1mm;
  }
  .pocket div {
    padding: 1mm 0 0 1mm;
  }
}