* { margin: 0; padding: 0; }

body {
    font-size: 14px;
    font-family: "Courier New", monospace;
}

.invisible {
    display: block;
}

.print_label_button {
    text-align: center;
}

.label_page {
  page-break-after: always;
}

@media print
{
  @page 
  {
    size: auto;   /* auto is the current printer page size */
    margin: 3.96875mm 0 0 3.175mm;  /* this affects the margin in the printer settings */
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  .label_page {

    
    width: 212.725mm;
    height: 275.43125mm;
  }

  .cnum {
    margin: 0;
    padding: 0;
    width: 20.6375mm;
    height: 68.2625mm;
    border: none;
  }
  
  .label_container {
    float: left;
    margin-left: 7.9375mm;
  }
  
  .pocket {
    margin-left: 3mm;
    padding: 0;
    width: 73.81875mm;
    height: 68.2625mm;
    border: none;
  }
  
  .cnum div, .pocket div {
    padding: 1mm;
  }
}