* { margin: 0; padding: 0; }

body {
    font-size: 14px;
    font-family: "Courier New", monospace;
}

.invisible {
    display: block;
}

.print_label_button {
    text-align: center;
}

.label_page {
  page-break-after: always;
}

@media print
{
  @page 
  {
    size: auto;   /* auto is the current printer page size */
    margin: 4mm 4mm 0 3mm;  /* this affects the margin in the printer settings */
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  .label_page {   
    width: 208mm;
    height: 273mm;
  }

  .cnum {
    margin: 0;
    padding: 0;
    width: 21mm;
    height: 68mm;
    border: none;
  }
  
  .label_container {
    float: left;
    margin-left: 8mm;
  }
  
  .pocket {
    margin-left: 3mm;
    padding: 0;
    width: 71mm;
    height: 67mm;
    border: none;
  }
  
  .cnum div {
    padding: 1mm 0 0 1.5mm;
  }
  .pocket div {
    padding: 1mm 0 0 1mm;
  }
}