* { margin: 0; padding: 0; }
body { font: 14px/1.4 Arial; background-color: #eff2fb; }

#banner {
  border-bottom: 1px solid red;
  background-color: #ffffff;
  float: left;
  width: 100%;
}
#banner img { float: left; margin: 10px; }

.button_left_div {
    float: left;
    position: relative;
    width: 200px;
}

.button_right_div {
    float: left;
    position: relative;
}

.clear { clear: both; }

.cnum {
    border: 1px solid black;
    height: 170px;
    padding-left: 5px;
    width: 74px;
}

#container { overflow: auto; }

.label_table {
    border: 1px solid black;
    border-spacing: 6px;
    margin: 0 auto;
    page-break-after: always;
}

#main_content { overflow: auto; margin-right: 180px; }

#menu {
  float: left;
  padding: 5px;
  width: 170px;
  overflow: auto;
}

#menu .menu_header {
  background-color: #c10037;
  border: 4px double #ffffff;
  border-radius: 5px;
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 0 2px;
  text-align: center;
  text-shadow: 2px 2px #000000;
}

#menu .menu_list {
  list-style: none;
}

#menu .menu_list li {
  float: left;
}

#menu .menu_list li a { 
  background-color: #5e5d60;
  border: 2px groove #cccccc;
  border-radius: 7px;
  color: #fff;
  display: block; 
  font-size: 14px;
  font-weight: bold;
  margin: 3px 5px;
  padding: 2px;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 0 #000000;
  width: 150px;
}
.pocket {
    border: 1px solid black;
    height: 170px;
    padding-left: 5px;
    width: 280px;
}

.print_label_button {
    text-align: center;
}

.selected {
  background-color: #c10037 !important;
}

.spacer_cell {
    width: 15px;
}

.spacer_cell_vert {
    height: 82px;
}

#menu .menu_list li:hover {
  background-color: #c10037;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 1px 1px 0 #0000cc;
}

#menu .menu_list li a:active {
  background-color: #c10037;
}

.loading_gif {
  display: block;
  width: 300px;
  margin: 100px auto;
}